* {
  margin: 0px;
  padding: 0px;
}

label {
  margin-bottom: 0px;
}

body {
}

.center {
  display: flex;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

#form {
  z-index: 1;
  position: absolute;
  background: white;
  padding-bottom: -2px;
  display: flex;
  outline: black 2px solid;
}

#checkbg {
  margin-left: 10px;
}

#checkurl {
  margin-left: 10px;
}

